    <p class="title_coachs">Valorant coachs</p>
<div id="coach">
    {{#each valorant_coach}}

    <div class="coachs_card">
        <div class="coachs_card_img">
            <img src="uploads/{{this.img}}" alt="">
        </div>
        <div class="coachs_card_info">
            <div class="coachs_card_info_player">
                <p> {{this.name}} {{this.ign}} {{this.surname}} </p>
            </div>
            <div class="coachs_card_info_review"> {{this.description}}</div>
            <div class="coachs_card_info_important">
                <p>{{this.game}}</p>
                <p>${{this.price}}.00</p>
            </div>

        </div>

    </div>
    {{/each}}
</div>


    <p class="title_coachs">Rocket League coachs</p>
<div id="coach">
    {{#each rocketLeague_coach}}

    <div class="coachs_card">
        <div class="coachs_card_img">
            <img src="uploads/{{this.img}}" alt="">
        </div>
        <div class="coachs_card_info">
            <div class="coachs_card_info_player">
                <p> {{this.name}} {{this.ign}} {{this.surname}} </p>
            </div>
            <div class="coachs_card_info_review"> {{this.description}}</div>
            <div class="coachs_card_info_important">
                <p>{{this.game}}</p>
                <p>${{this.price}}.00</p>
            </div>

        </div>

    </div>
    {{/each}}
</div>

    <p class="title_coachs">League coachs</p>
<div id="coach">
    {{#each league_coach}}

    <div class="coachs_card">
        <div class="coachs_card_img">
            <img src="uploads/{{this.img}}" alt="">
        </div>
        <div class="coachs_card_info">
            <div class="coachs_card_info_player">
                <p> {{this.name}} {{this.ign}} {{this.surname}} </p>
            </div>
            <div class="coachs_card_info_review"> {{this.description}}</div>
            <div class="coachs_card_info_important">
                <p>{{this.game}}</p>
                <p>${{this.price}}.00</p>
            </div>

        </div>

    </div>
    {{/each}}
</div>

    <p class="title_coachs">Starcraft coachs</p>
<div id="coach">
    {{#each starcraft_coach}}

    <div class="coachs_card">
        <div class="coachs_card_img">
            <img src="uploads/{{this.img}}" alt="">
        </div>
        <div class="coachs_card_info">
            <div class="coachs_card_info_player">
                <p> {{this.name}} {{this.ign}} {{this.surname}} </p>
            </div>
            <div class="coachs_card_info_review"> {{this.description}}</div>
            <div class="coachs_card_info_important">
                <p>{{this.game}}</p>
                <p>${{this.price}}.00</p>
            </div>

        </div>

    </div>
    {{/each}}
</div>

    <p class="title_coachs">Dota 2 coachs</p>
<div id="coach">
    {{#each dota2_coach}}

    <div class="coachs_card">
        <div class="coachs_card_img">
            <img src="uploads/{{this.img}}" alt="">
        </div>
        <div class="coachs_card_info">
            <div class="coachs_card_info_player">
                <p> {{this.name}} {{this.ign}} {{this.surname}} </p>
            </div>
            <div class="coachs_card_info_review"> {{this.description}}</div>
            <div class="coachs_card_info_important">
                <p>{{this.game}}</p>
                <p>${{this.price}}.00</p>
            </div>

        </div>

    </div>
    {{/each}}
</div>

    <p class="title_coachs">Super Smash Bros Brawl coachs</p>
<div id="coach">
    {{#each ssb_coach}}

    <div class="coachs_card">
        <div class="coachs_card_img">
            <img src="uploads/{{this.img}}" alt="">
        </div>
        <div class="coachs_card_info">
            <div class="coachs_card_info_player">
                <p> {{this.name}} {{this.ign}} {{this.surname}} </p>
            </div>
            <div class="coachs_card_info_review"> {{this.description}}</div>
            <div class="coachs_card_info_important">
                <p>{{this.game}}</p>
                <p>${{this.price}}.00</p>
            </div>

        </div>

    </div>
    {{/each}}
</div>

    <p class="title_coachs">PUBG coachs</p>
<div id="coach">
    {{#each pubg_coach}}

    <div class="coachs_card">
        <div class="coachs_card_img">
            <img src="uploads/{{this.img}}" alt="">
        </div>
        <div class="coachs_card_info">
            <div class="coachs_card_info_player">
                <p> {{this.name}} {{this.ign}} {{this.surname}} </p>
            </div>
            <div class="coachs_card_info_review"> {{this.description}}</div>
            <div class="coachs_card_info_important">
                <p>{{this.game}}</p>
                <p>${{this.price}}.00</p>
            </div>

        </div>

    </div>
    {{/each}}
</div>

    <p class="title_coachs">overwatch coachs</p>
<div id="coach">
    {{#each overwatch_coach}}

    <div class="coachs_card">
        <div class="coachs_card_img">
            <img src="uploads/{{this.img}}" alt="">
        </div>
        <div class="coachs_card_info">
            <div class="coachs_card_info_player">
                <p> {{this.name}} {{this.ign}} {{this.surname}} </p>
            </div>
            <div class="coachs_card_info_review"> {{this.description}}</div>
            <div class="coachs_card_info_important">
                <p>{{this.game}}</p>
                <p>${{this.price}}.00</p>
            </div>
 
        </div>

    </div>
    {{/each}}
</div>